# Python
__pycache__/
*.py[codz]
*.so
*.egg-info/
dist/
build/

# Virtual Environments
.venv/
venv/
env/

# Environment Variables
.env
.env.*

# IDEs and OS
.idea/
.vscode/
.DS_Store
.cursorignore
.cursorindexingignore

# Project specific
DND_db/